* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #071827;
    color: white;
}

.container {
    width: 85%;
    margin: auto;
    padding: 40px;
}

h1 {
    color: #00d084;
    font-size: 42px;
}

h2 {
    color: white;
}

p {
    font-size: 18px;
}

.card {
    background: #102a43;
    padding: 25px;
    border-radius: 12px;
    margin: 25px 0;
}

form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

input {
    width: 100%;
    padding: 14px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
}

button {
    grid-column: span 2;
    padding: 14px;
    background: #00d084;
    color: #071827;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

a {
    display: inline-block;
    margin: 10px 10px 10px 0;
    padding: 12px 18px;
    background: #00d084;
    color: #071827;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
}

button:hover,
a:hover {
    background: #00b874;
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 18px;
    margin: 25px 0;
}

.kpi {
    background: #102a43;
    padding: 22px;
    border-radius: 12px;
    text-align: center;
}

.kpi h3 {
    color: #00d084;
}

.kpi p {
    font-size: 28px;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th {
    background: #00d084;
    color: #071827;
    padding: 12px;
}

td {
    border: 1px solid #1f4b6e;
    padding: 12px;
    text-align: center;
}

tr:nth-child(even) {
    background: #12395b;
}

#map {
    height: 550px;
    border-radius: 12px;
    margin-top: 20px;
}

.error {
    color: #ff5c5c;
    font-weight: bold;
}

@media(max-width: 768px) {
    .container {
        width: 95%;
        padding: 20px;
    }

    form {
        grid-template-columns: 1fr;
    }

    button {
        grid-column: span 1;
    }

    .dashboard {
        grid-template-columns: 1fr;
    }

    h1 {
        font-size: 32px;
    }
}