<!DOCTYPE html>
<html>
<head>
    <title>Admin Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="container">

    <h1>Admin Login</h1>

    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}

    <div class="card">
        <form action="/login" method="POST">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
        </form>
    </div>

    <a href="/">Back Home</a>

</div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>