<!DOCTYPE html>
<html>
<head>
    <title>Project Report</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="container">

    <h1>Project Report</h1>

    <div class="card">
        <h2>Project Title</h2>
        <p>AI-Powered Maritime Weather Routing & Voyage Optimization System</p>
    </div>

    <div class="card">
        <h2>Abstract</h2>
        <p>
            This project helps shipping operators analyze voyage time, fuel consumption,
            weather risk, voyage cost and route diversion decisions.
        </p>
    </div>

    <div class="card">
        <h2>Modules</h2>
        <ul>
            <li>Route Planner</li>
            <li>Weather Risk Dashboard</li>
            <li>Fuel Calculator</li>
            <li>Voyage Cost Calculator</li>
            <li>Interactive Route Map</li>
            <li>Admin Dashboard</li>
        </ul>
    </div>

    <a href="/">Back to Home</a>
    <a href="/download-report">Download PDF Report</a>

</div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>